body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
}

h6 {
    margin-top: 0;
}

.app__container {
    margin: 0% 0%;
}

.app__header {
    display: flex;
    color: rgb(0, 0, 0);
    padding: 1em;
    background-color: white;
    border-radius: 0rem;
    box-shadow: 0px 0px 20px 0px rgb(214, 214, 214);
}

.app__header__title--grey {
    color: #2e2e2e;
}

.app__menu__img {
    height: 50px;
    width: auto;
}

.app__content {
    display: flex;
    margin-top: 20px;
}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    /* padding: 25px 25px 0px 25px; */
    margin-bottom: 0px !important;
    font-size: 1em;
}

.auto__checkbox {
    margin-right: 10px;
}

.auto__label {
    color: #DFE3E8;
}

.auto__p {
    margin-bottom: 0;
}

.graph__container {
    /* background-color: #082255; */
    background-color: rgb(206, 16, 16);
    border-radius: 0rem;
    box-shadow: 0px 0px 20px 0px rgb(214, 214, 214);
    margin: 1em
}

.histogram__direction {
    margin-left: 15px;
}

#wind-direction {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .histogram__direction {
        margin: 15px 0px 20px 0px;
    }
    .app__content {
        display: block;
    }    
    .app__menu__img {
        height: 30px;
        width: auto;
    }
    .app__header {
        display: flex;
        flex-direction: column;
    }
    .app__header__desc {
        order: 1;
        /* text-align: center; */
    }
    .app__header__logo {
        order: 0;
    }
    .app__header__title {
        font-size: 1.5em;
        /* padding-top: 15px; */
    }
}